h1 {
    color:red;
    text-align: center;
}

div {
    width: 30%;
    display:inline-block;
    padding-left: 30px;
}

img {
    height: 500px;
    width: 90%;
}

h3 {
    text-align: left;
    padding-left: 40px;
    color: lightskyblue;
}

p {
    width: 70%;
    padding: 10px;
    text-align: justify;
}

a {
    display: inline-block;
}